<div class="dashboard-container">
  <div class="title-bar">
    <h1>Trading Card Manager</h1>
  </div>

  <div class="top-buttons">
    <button (click)="openAddDialog()" color="primary" mat-raised-button>+ Add Card</button>
    <input #fileInput (change)="uploadFile($event)" hidden type="file"/>
    <button (click)="fileInput.click()" color="primary" mat-raised-button>Import List</button>
    <button (click)="openStatsDialog()" color="primary" mat-raised-button>View Collection Value</button>
    <button (click)="openModifyDialog()" [disabled]="!selectedCard" color="primary" mat-raised-button>Modify Card
    </button>
    <button (click)="deleteSelectedCard()" [disabled]="!selectedCard" color="primary" mat-raised-button>Delete Card
    </button>
  </div>

  <div class="main-content">
    <div class="card-table-container">
      <table [dataSource]="cards" class="mat-elevation-z8 full-width-table" mat-table>

        <!-- Card Columns -->
        <ng-container matColumnDef="cardNumber">
          <th *matHeaderCellDef mat-header-cell>Card #</th>
          <td *matCellDef="let card" mat-cell>{{ card.cardNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="cardName">
          <th *matHeaderCellDef mat-header-cell>Name</th>
          <td *matCellDef="let card" mat-cell>{{ card.cardName }}</td>
        </ng-container>

        <ng-container matColumnDef="cardGame">
          <th *matHeaderCellDef mat-header-cell>Game</th>
          <td *matCellDef="let card" mat-cell>{{ card.cardGame }}</td>
        </ng-container>

        <ng-container matColumnDef="rarity">
          <th *matHeaderCellDef mat-header-cell>Rarity</th>
          <td *matCellDef="let card" mat-cell>{{ card.rarity }}</td>
        </ng-container>

        <ng-container matColumnDef="datePurchased">
          <th *matHeaderCellDef mat-header-cell>Purchase Date</th>
          <td *matCellDef="let card" mat-cell>{{ card.datePurchased }}</td>
        </ng-container>

        <ng-container matColumnDef="dateSetPublished">
          <th *matHeaderCellDef mat-header-cell>Set Publish Date</th>
          <td *matCellDef="let card" mat-cell>{{ card.dateSetPublished }}</td>
        </ng-container>

        <ng-container matColumnDef="purchasePrice">
          <th *matHeaderCellDef mat-header-cell>Purchase Price</th>
          <td *matCellDef="let card" mat-cell> ${{ card.purchasePrice }}</td>
        </ng-container>

        <ng-container matColumnDef="foiled">
          <th *matHeaderCellDef mat-header-cell>Foil</th>
          <td *matCellDef="let card" mat-cell>{{ card.foiled ? 'Yes' : 'No' }}</td>
        </ng-container>

        <!-- Table Header and Rows -->
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"
            [class.selected]="selectedCard?.cardNumber === row.cardNumber"
            mat-row>
        </tr>
      </table>
    </div>

    <mat-card class="stats-panel">
      <h3>Stats</h3>
      <p>Total Spent: <strong>${{ stats.totalSpent || 0 }}</strong></p>
      <p>Total Cards: <strong>{{ stats.totalCards || 0 }}</strong></p>
      <p>Foiled Cards: <strong>{{ stats.totalFoiled || 0 }}</strong></p>
      <p>Foiled Percentage: <strong>% {{ stats.percentFoiled | number:'1.2-2' }}</strong></p>
    </mat-card>
  </div>
</div>
