<h2 mat-dialog-title>{{ data ? 'Modify Card' : 'Add Card' }}</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="cardForm">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Card Number</mat-label>
    <input formControlName="cardNumber" matInput/>
    <mat-error *ngIf="cardForm.get('cardNumber')?.hasError('required') && cardForm.get('cardNumber')?.touched">
      Field cannot be blank
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Card Name</mat-label>
    <input formControlName="cardName" matInput/>
    <mat-error *ngIf="cardForm.get('cardName')?.hasError('required') && cardForm.get('cardName')?.touched">
      Field cannot be blank
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Card Game</mat-label>
    <input formControlName="cardGame" matInput/>
    <mat-error *ngIf="cardForm.get('cardGame')?.hasError('required') && cardForm.get('cardGame')?.touched">
      Field cannot be blank
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Rarity</mat-label>
    <mat-select formControlName="rarity">
      <mat-option value="Legendary">Legendary</mat-option>
      <mat-option value="Hero">Hero</mat-option>
      <mat-option value="Rare">Rare</mat-option>
      <mat-option value="Uncommon">Uncommon</mat-option>
      <mat-option value="Common">Common</mat-option>
    </mat-select>
    <mat-error *ngIf="cardForm.get('rarity')?.hasError('required') && cardForm.get('rarity')?.touched">
      Field cannot be blank
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Purchase Date</mat-label>
    <input formControlName="datePurchased" matInput type="date"/>
    <mat-error *ngIf="cardForm.get('datePurchased')?.hasError('required') && cardForm.get('datePurchased')?.touched">
      Field cannot be blank
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Set Published Date</mat-label>
    <input formControlName="dateSetPublished" matInput type="date"/>
    <mat-error
      *ngIf="cardForm.get('dateSetPublished')?.hasError('required') && cardForm.get('dateSetPublished')?.touched">
      Field cannot be blank
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Purchase Price</mat-label>
    <input formControlName="purchasePrice" matInput type="number"/>
    <mat-error *ngIf="cardForm.get('purchasePrice')?.hasError('required') && cardForm.get('purchasePrice')?.touched">
      Field cannot be blank
    </mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="foiled">Foil</mat-checkbox>

  <div class="button-row">
    <button color="primary" mat-stroked-button type="submit">Save</button>
    <button (click)="cancel()" color="warn" mat-stroked-button type="button">Cancel</button>
  </div>
</form>

