<h2 mat-dialog-title>Connect to MySQL</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Host</mat-label>
    <input [(ngModel)]="dbConfig.host" autocomplete="off" matInput required/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Port</mat-label>
    <input [(ngModel)]="dbConfig.port" autocomplete="off" matInput required/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Database Name</mat-label>
    <input [(ngModel)]="dbConfig.databaseName" autocomplete="off" matInput required/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Username</mat-label>
    <input [(ngModel)]="dbConfig.dbUser" autocomplete="off" matInput required/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Password</mat-label>
    <input [(ngModel)]="dbConfig.dbPass"
           autocomplete="new-password"
           matInput
           required
           type="password"/>
  </mat-form-field>

  <div *ngIf="errorMessage" style="color: red; margin-top: 8px;">
    {{ errorMessage }}
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="connectToDatabase()"
          [disabled]="!dbConfig.host || !dbConfig.port || !dbConfig.databaseName || !dbConfig.dbUser"
          mat-button
          type="button">
    Connect
  </button>
</mat-dialog-actions>

